.form__container {
  height: 100vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 800px;
  margin: 0 auto;
  padding: 15% 10px;
  background: rgb(2, 228, 190);
  @media (min-width: 400px) {
    min-width: 400px;
    width: 80%;
  }
}

.form__spinner {
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding: 5px;
}

.form__button--default {
  border-radius: 5px;
  width: 150px;
  outline: none;
  margin: 20px auto;
  padding: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: rgb(18, 100, 241);
}
